:root{
    --first-color: #0a0909;
    --second-color: #1b243f;
    --third-color: #49578c;
    --fourth-color: #8091e4;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--first-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.svgicon{
    display: none;
}

.tarea-enter,
.proyecto-enter {
    opacity: 0;
}

.tarea-enter-active,
.proyecto-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}

.tarea-exit,
.proyecto-exit {
    opacity: 1;
}

.tarea-exit-active,
.proyecto-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}

.title-second{
    color: #fff;
}

.title-second-span{
    color: var(--fourth-color);
}

.h1-notes{
    color: #fff;
}

 .btn, .btn:focus {
    width: 20%;
    padding: 12px 30px;
    background: var(--third-color);
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-radius: 6px;
    text-transform: uppercase;
}

 .btn:hover {
    background: var(--fourth-color);
}

/*CARDS*/
.card{
    background-color: var(--second-color);
    width: 100%;
}

.list-group-item{
    background-color: var(--second-color);
    color: #fff;
    border: none;
}

.card .btn-delete{
    background-color: rgb(227, 89, 89);
    display: inline-flex;
    width: 12rem;
    text-align: center;
    justify-content: center;
}

.card .btn-delete:hover {
    background-color: rgb(215, 53, 53);
    color: #fff;
}

.card .btn-modify {
    display: inline-flex;
    width: 12rem;
    background: var(--third-color);
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-radius: 6px;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
}

.card .btn-modify:hover {
background: var(--fourth-color);
    color: #fff;
}

.card .btn-archive {
display: inline-flex;
    width: 12rem;
    background: var(--third-color);
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-radius: 6px;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
}

.card .btn-archive:hover {
    background: var(--fourth-color);
    color: #fff;
}

.btn-category{
    background-color: red;
}

.form-check{
    display: flex;
}

.form-check-label{
    margin-left: 20px !important;
}

.h1-categories{
    color: #fff;
    font-size: 30px;
    text-align: left;
}

.span-category{
    background-color: green;
}

/*FORM*/

.form-bg {
    position: relative;
}

.form-bg:before {
    content: "";
    width: 100%;
    height: 100%;
    /* position: absolute; */
    top: 0;
    left: 0;
    opacity: 0.8;
}

.form-horizontal {
    width: 80%;
    padding: 35px 40px 55px 40px;
    background: var(--second-color);
    border-radius: 5px;
    
}

.form-horizontal .form-group {
    margin: 0 0 30px 0;
    position: relative;
}

.form-horizontal .form-group:nth-child(5n) {
    margin-bottom: 20px;
}

.form-horizontal .form-group:last-child {
    margin: 0;
}

.form-horizontal .heading {
    display: block;
    font-size: 28px;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 20px;
}

.form-horizontal .form-control {
    height: 50px;
    background: #fff;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0 20px;
    font-size: 16px;
    color: #7f8291;
    position: relative;
    transition: all 0.3s ease 0s;
}

.form-horizontal .form-control:focus {
    box-shadow: none;
    outline: 0 none;
}

.form-horizontal .form-control::-webkit-input-placeholder,
.form-horizontal .form-control::-moz-placeholder,
.form-horizontal .form-control::placeholder {
    color: #c4c4c4;
}

.form-horizontal .main-checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    float: left;
    margin: 5px 0 0 0;
    position: relative;
}

.form-horizontal .main-checkbox label {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.form-horizontal .main-checkbox label:after {
    content: "";
    width: 10px;
    height: 5px;
    position: absolute;
    top: 5px;
    left: 4px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
}


.form-horizontal .main-checkbox input[type=checkbox]:checked+label:after {
    opacity: 1;
}

.form-horizontal .text {
    float: left;
    padding-top: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #8b8b8b;
    line-height: 20px;
    margin-left: 7px;
}

.form-horizontal .forgot-pass {
    width: auto;
    float: right;
    background: transparent;
    font-size: 15px;
    font-weight: bold;
    color: #8b8b8b;
    line-height: 20px;
    text-transform: capitalize;
    padding: 5px 0 0 0;
    margin-top: 0;
    box-shadow: none;
    transition: all 0.3s ease 0s;
}

.form-horizontal .btn,
.form-horizontal .btn:focus {
    width: 12rem;
    padding: 12px 30px;
    background:var(--third-color);
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-radius: 6px;
    text-transform: uppercase;
}

.form-horizontal .btn:hover {
    background: var(--fourth-color);
}

.form-horizontal{
    display: block;
    padding: 12px 30px;
    font-size: 16px;
    color: #8f8f8f;
    text-transform: capitalize;
    border: 1px solid #8b8b8b;
    border-radius: 6px;
    text-align: center;
    margin-top: 8px;
}

@media only screen and (max-width: 479px) {
    .form-horizontal .card {
        padding: 40px 20px;
    }
    .btn{
        width: 100%;
    }
    
}
